<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Lista użytkowników</title>
</head>
<body>
	<div>
		<h2>Szukaj według nazwy</h2>
		<input type="text" id="userLogin" size="5" />
		<input type="button" value="Search" onclick="find();" />
		<p id="user" />
	</div>
	<div>
		<h2>Wszystcy użytkownicy</h2>
		<ul id="userList" />
	</div>

	<script src="/Scripts/jquery-3.1.1.min.js"></script>
	<script src="/Scripts/linq.min.js"></script>
	<script src="/Scripts/common.js"></script>
	<script>
		var uri = 'api/users';

		$(document).ready(function () {
			$.getJSON(uri)
				.done(function (data) {
					$.each(data, function (key, item) {
						$('<li>', { text: item.Name }).appendTo($('#userList'));
						$('<ul>', { text: formatItem(item) }).appendTo($('#userList'));
					});
				});
		});

		function formatItem(item) {
			return String.format('Login: {0}, Gry: {1}', item.Login, formatGames(item.Games));
		}

		function formatGames(games) {
		    var result = new Array(games.lenght);
		    for (var i = 0; i < games.length; i++)
			{
		        result[i] = games[i].Name;
			}
			return result.join(", ");
		}

		function find() {
			var id = $('#userLogin').val();
			$.getJSON(uri + '/' + id)
				.done(function (data) {
					$('#userList').text(data.Name + " " + formatItem(data));
				})
				.fail(function (jqXHR, textStatus, err) {
					$('#userList').text('Error: ' + err);
				});
		}
	</script>

</body>
</html>
